.App {
  text-align: center;
}

.Navbar {
  background-color: #0d7200;
  color: #81ffab;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.app-navlink {
  color: #53c763;
  text-decoration: none;
}

.active {
  color: #d3ffc7;
}