.App {
  text-align: center;
}

.Navbar {
  background-color: #0d7200;
  color: #81ffab;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

.app-navlink {
  color: #53c763;
  text-decoration: none;
}

.active {
  color: #d3ffc7;
}

img {
  width: 40rem;
  margin-top: 2rem;
  max-width: 25rem;
}